

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// App main ui styles
@import "styles";

// Listing item
@import "covers";

// Site grids
@import "grids";

// Icons
@import "icons";

// Backgrounds
@import "backgrounds";

// Photo View
@import "photo";

// Photo View
@import "show";

// Filter View
@import "filter";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pagination{
  justify-content: center;
}

.btn {
  border-width: 2px;
}

.btn-outline-random-idea{
  border-color: inherit;
  color: $green;
}

.distance-selector__item{
  font-size: 18px;
  color: $text-color;
}
.distance-selector__item.active{
  color: $primary;
  font-weight: 700;
  border-bottom: 1px solid lighten($primary, 20%);
}

:root{
    --border-color: #ebebeb;
    --text-color: $text-color;
}

@media (min-width: $grid-breakpoints-hd){
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-hd {
        max-width: $container-max-widths-hd;
    }
}

@media (min-width: $grid-breakpoints-2k){
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-hd {
        max-width: $container-max-widths-2k;
    }
}

