
// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik');

@font-face {
  font-family: museo-sans-100;
  src: url('/fonts/MS100.otf');
}

@font-face {
  font-family: museo-sans-700;
  src: url('/fonts/MS700.otf');
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// App main ui styles
@import "styles";

// Listing item
@import "covers";

// Site grids
@import "grids";

// Icons
@import "icons";

// Backgrounds
@import "backgrounds";

// Photo View
@import "photo";

// Photo View
@import "show";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.search-list{
  .input-cool{
    font-size: 24px;
    font-weight: bold;
    border-radius: unset;
    border: none;
  }
  .input-cool:focus{
    box-shadow: none;
  }
  .list-group-item{
    padding: $list-group-item-padding-y 0;
    cursor: pointer;

    .btn {
      padding: 0;
    }
  }
  .list-group-item:hover{
    padding-left: 15px;
  }
  .form-control{
    padding: 0;
  }
}

.pagination{
  justify-content: center;
}

.btn {
  border-width: 2px;
}

.btn-outline-random-idea{
  border-color: inherit;
  color: $green;
}

.distance-selector__item{
  font-size: 18px;
  color: $text-color;
}
.distance-selector__item.active{
  color: $primary;
  font-weight: 700;
  border-bottom: 1px solid lighten($primary, 20%);
}

