// Variables
@import "variables";

/*Backgrounds*/

.mountains-blue {
  background-image: url(/images/bg/mountains_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
