@import "variables";

.bg-gray .list-item{
  background-color: white;
}

.bg-white .list-item{
  background-color: white;
}

.list-item{
  position: relative;
}

.list-item .img-wrap{
  background-color: $body-bg;
}
.bg-gray .list-item .caption{
  padding: 0 20px;
}

.list-item-dropdown{
  position: absolute;
  top: 0;
  right: 0;

}

.list-item .img-wrap{
  text-align: center;
  height: 250px;
  overflow-y: hidden;

}

.list-item .img-wrap.img-center {
  position: relative;
}

.img-center img{
  position: absolute;
  margin: auto !important;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.list-item .img-wrap img{
  max-height: 250px;
  max-width: 100%;

}

.list-item .img-wrap{
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
  background-color: $bg-gray;
  height: 160px;
}
