// Variables
@import "variables";

.item-heading{
  display: flex;
  .user-info-block p{
    margin-bottom: 0;
  }
}

#idea-details{
  .price{
    font-size: 30px;
    font-weight: bold;
  }
  .price-currency, .from{
    font-size: 20px;
  }


}


.text-first-uppercase::first-letter, label::first-letter, .nav-link::first-letter {
  text-transform: uppercase;
}
