// Variables
@import "variables";

.item-heading{
  display: flex;
  .user-info-block p{
    margin-bottom: 0;
  }
}

.price{
  font-size: 20px;
  font-weight: bold;
}

.text-first-uppercase::first-letter, label::first-letter, .nav-link::first-letter {
  text-transform: uppercase;
}
